.box {
    width: 150px;
    height: 150px;
    margin: 20px auto auto;
    transition: all 2s;
    transition-timing-function: ease-in-out;
}

.box-width {
    background-color: red;
}

.box-width:hover {
    width: 300px;
}

.box-height {
    background-color: blue;
}

.box-height:hover {
    height: 300px;
}

.box-width-height{
    background-color: green;
}