div {
    display: flex;
    justify-content: center;
}

#wrap {
    display: flex;
    flex-wrap: wrap;
}

p {
    flex-direction: row;
    position: absolute;
    font-size: 15vw;
    align-self: flex-end;  
    opacity: 0;
}

@keyframes countAnimation {
   0%, 100% {
        opacity: 1;
    }
}

/* Ułatwieniem dla mnie, by ustawić animację czasowo według wskazań do zadania, była wiedza zawarta tutaj >>
>> https://css-tricks.com/css-keyframe-animation-delay-iterations/ */

#no1 {
    animation: countAnimation 1s 1;
}


#no2 {
    animation: countAnimation 1s 1s 1;
}

#no3 {
    animation: countAnimation 1s 2s 1;
}

#no4 {
    animation: countAnimation 1s 3s 1;
}

#no5 {
    animation: countAnimation 1s 4s 1;
}

#no6 {
    animation: countAnimation 1s 5s 1;
}

#no7 {
    animation: countAnimation 1s 6s 1;
}

#no8 {
    animation: countAnimation 1s 7s 1;
}

#no9 {
    animation: countAnimation 1s 8s 1;
}

#no10 {
    animation: countAnimation 1s 9s 1;
}

#IloveCSS {
    animation: countAnimation 5s 10s infinite;
/*
    animation-name: countAnimation;
    animation-delay: 10s;
    animation-duration: 5s;
    animation-iteration-count: infinite;
*/
}

/* OPCJA ŁATWIEJSZA DO SPRAWDZENIA NP Z >> http://www.clocktab.com/
BO ANIMACJA ZACZYNA SIĘ PO SEKUNDZIE PO ODŚWIEŻENIU STRONY*/
/*
#no1 {
    opacity: 0;
    animation-name: countAnimation;
    animation-delay: 1s;
    animation-duration: 1s;
    animation-iteration-count: 1;
}

#no2 {
    opacity: 0;
    animation-name: countAnimation;
    animation-delay: 2s;
    animation-duration: 1s;
    animation-iteration-count: 1;
}

#no3 {
    opacity: 0;
    animation-name: countAnimation;
    animation-delay: 3s;
    animation-duration: 1s;
    animation-iteration-count: 1;
}

#no4 {
    opacity: 0;
    animation-name: countAnimation;
    animation-delay: 4s;
    animation-duration: 1s;
    animation-iteration-count: 1;
}

#no5 {
    opacity: 0;
    animation-name: countAnimation;
    animation-delay: 5s;
    animation-duration: 1s;
    animation-iteration-count: 1;
}

#no6 {
    opacity: 0;
    animation-name: countAnimation;
    animation-delay: 6s;
    animation-duration: 1s;
    animation-iteration-count: 1;
}

#no7 {
    opacity: 0;
    animation-name: countAnimation;
    animation-delay: 7s;
    animation-duration: 1s;
    animation-iteration-count: 1;
}

#no8 {
    opacity: 0;
    animation-name: countAnimation;
    animation-delay: 8s;
    animation-duration: 1s;
    animation-iteration-count: 1;
}

#no9 {
    opacity: 0;
    animation-name: countAnimation;
    animation-delay: 9s;
    animation-duration: 1s;
    animation-iteration-count: 1;
}

#no10 {
    opacity: 0;
    animation-name: countAnimation;
    animation-delay: 10s;
    animation-duration: 1s;
    animation-iteration-count: 1;
}
*/
